/* Core */

@font-face {
    font-family: 'Clear Sans Thin';
    src: url('../fonts/clearsans-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans Thin';
    src: url('../fonts/clearsans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
  background-color: #191F25;
  font-family: "Clear Sans Thin", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {
  .navigation > div {
    float: right;
  }
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: #121519;
    font-size: 26px;
}

address {
    line-height: 30px;
}

.form-control {
    border: none;
    border-radius: 0;
    color: #2B3838;
    font-size: 16px;
}

.form-group.has-error .form-control {
    color: #D0021B;
}

.form-group.has-error .form-control::-webkit-input-placeholder {
    color: #D0021B;
}

.form-group.has-error .form-control:-moz-placeholder {
    color: #D0021B;
}

.form-group.has-error .form-control::-moz-placeholder {
    color: #D0021B;
}

.form-group.has-error .form-control:-ms-input-placeholder {
    color: #D0021B;
}

input.form-control {
    height: 42px;
}

textarea.form-control {
    height: 104px;
    resize: vertical ;
}

form .btn {
    background-color: #429321;
    border-radius: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    margin-top: 25px;
    width: 100%;
}

form .btn:hover {
    color: #FFF;
}

form .btn:hover:not(.disabled) {
    background-color: #2D5923;
}

/* Navigation */

#top {
    max-width: 700px;
    margin: 0 auto;
}

nav ul li + li {
    margin-left: 20px;
}

nav ul li a,
nav ul li a:hover {
    border-bottom: 5px solid #2B3838;
    border-top: 15px solid transparent;
    color: #FFF;
    display: inline-block;
    padding-bottom: 15px;
    padding-top: 10px;
}

nav ul li.nav-who-we-are a:hover {
    border-top-color: #3A4A26;
}

nav ul li.nav-our-work a:hover {
    border-top-color: #628035;
}

nav ul li.nav-get-in-touch a:hover {
    border-top-color: #B4EC51;
}

nav #nav-fronteer {
    margin: 25px 0 40px 20px;
}

@media (min-width: 768px) {
    nav {
        text-align: left;
    }

    nav ul {
        text-align: right;
    }

    nav #nav-fronteer {
        display: inline-block;
        margin-bottom: 0;
        position: relative;
        top: -70px;
    }
}

/* Who we are */

#who-we-are-container {
    color: #BBC6C6;
    padding: 0 20px;
}

#who-we-are-container img {
    max-width: 350px;
    width: 80%;
}

@media (min-width: 768px) {
    #who-we-are-container img {
        width: 440px;
        max-width: 440px;
    }

    #who-we-are {
        padding-top: 150px;
    }
}

#who-we-are-container h1 {
    color: #DFECEA;
    font-size: 36px;
    margin-bottom: 35px;
    margin-top: 30px;
    width: 20px;
}

#who-we-are-container p:not(:last-child) {
    margin-bottom: 30px;
}

/* Work */

#work {
    background-image: url('../img/work-arch-small.svg');
    background-position: top;
    background-repeat: no-repeat;
    color: #4E6767;
    font-size: 18px;
    margin-top: 45px;
    padding-top: 60px;
}

@media (min-width: 1200px) {
    #work {
        background-image: url('../img/work-arch-large.svg');
    }
}

#work #our-work {
    background-color: #E8ECEB;
    padding: 0 35px;
}

#work ul {
    margin: 30px auto 45px;
    max-width: 700px;
}

#work ul li {
    padding: 30px 45px;
}

@media (max-width: 767px) {
    #work ul li {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Projects */

#work #projects-intro {
    margin-bottom: 45px;
}

#work h1 {
    margin-bottom: 30px;
    margin-top: 30px;
}

#work #projects {
    margin: 0 -35px;
    text-align: left;
}

#work #projects ,
#work #projects a {
    color: #FFF;
}

#work #projects .project-dark,
#work #projects .project-dark a {
    color: #222;
}

#work #projects a {
    background-image: url('../img/goto-light.png');
    background-position: 0 5px;
    background-repeat: no-repeat;
    background-size: 14px auto;
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 25px;
}

#work #projects .project-dark a {
    background-image: url('../img/goto-dark.png');
}

#work #projects > div {
    padding: 50px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    #work #projects > div {
        height: 515px;
    }
}

@media (min-width: 1200px) {
    #work #projects > div {
        height: 445px;
    }
}

#work #projects img {
    height: 75px;
    margin-bottom: 40px;
}

#work #projects img.project-logo-medium {
    margin-top: 15px;
    height: 60px;
}

#work #projects img.project-logo-small {
    margin-top: 25px;
    height: 50px;
}

#work #projects #ally {
    background-color: #00C7D0;
}

#work #projects #cumulus {
    background-color: #6EAAD8;
}

#work #projects #embdr {
    background-color: #3C156B;
}

#work #projects #oae {
    background-color: #368CC4;
}

#work #projects #timetable {
    background-color: #08525D;
}

#work #projects #collabosphere {
    background-color: #1B5A81;
}

/* Get in touch */

#get-in-touch {
    color: #DFECEA;
    padding: 30px 25px 40px;
}

#get-in-touch h1 {
    color: #B4EC51;
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 30px;
}

#get-in-touch address {
    margin-bottom: 50px;
}

#get-in-touch #get-in-touch-form-container {
    padding-bottom: 30px;
    padding-top: 10px;
}

#get-in-touch form {
    margin: 0 auto;
    max-width: 450px;
}

#get-in-touch form .form-control {
    background-repeat: no-repeat;
    background-size: auto 43px;
    padding-left: 60px;
}

#get-in-touch form #get-in-touch-name {
    background-image: url('../img/icons/name.png');
}

#get-in-touch form .form-group.has-error #get-in-touch-name {
    background-image: url('../img/icons/name-error.png');
}

#get-in-touch form #get-in-touch-email {
    background-image: url('../img/icons/email.png');
}

#get-in-touch form .form-group.has-error #get-in-touch-email {
    background-image: url('../img/icons/email-error.png');
}

#get-in-touch form #get-in-touch-message {
    background-image: url('../img/icons/message.png');
    padding-top: 10px;
}

#get-in-touch form .form-group.has-error #get-in-touch-message {
    background-image: url('../img/icons/message-error.png');
}

#get-in-touch form .btn span {
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('../img/icons/send.png');
    padding-left: 35px;
}

/* Footer */

footer {
    background-image: url('../img/footer-arch-small.svg');
    background-position: top;
    background-repeat: no-repeat;
    color: #DFECEA;
    font-size: 11px;
    padding-top: 60px;
}

@media (min-width: 1200px) {
    footer {
        background-image: url('../img/footer-arch-large.svg');
    }
}

footer #footer-content {
    background-color: #121519;
    padding: 15px 20px 35px;
}

footer #footer-content p {
    margin-top: 20px;
}
